p{
  margin:0px !important;
  font-family: 'poppins';
}

.customShadow{
  box-shadow : 0 2px 40px 0 rgba(0, 0, 0, 0.09) !important;
}

.border-top-dashed{
  border-top:1px dashed #d9d9d9;
}

/* card hover */
.card{
  transition-duration: 0.4s;
}
.card-title{
  transition-duration: 0.4s;
}
.card:hover{
  border-color: #ea1d63;
}
.card:hover .card-title{
  color:#ea1d63 !important;
}
.bg-faintgrey{
  transition-duration: 0.4s;
}
.bg-faintgrey:hover{
  background-color: #cbcbcb !important;
}

/* indicator */
.indicator{
  color:#ea1d63;
  position: absolute;
  font-size: 25px;
  margin-left: -8px;
  margin-top: -8px;
}